*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body , #app , .wrap  {
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
     font-size: .2rem;
}

.wrap {
    position: relative;
}

.box {
    height: 100%;
    overflow-y: scroll;
}

.car_list {
    p {
        height: .5rem;
        background: #f4f4f4;
        color: #aaa;
        line-height: .5rem;
        padding-left: .2rem;
        font-size: .25rem;
    }
    ul{
        width: 100%;
        li{
            width: 94%;
            margin: 0 auto;
            border-bottom: 1px solid #ccc;
            height: 1rem;
            display: flex;
            line-height: 1rem;
            img {
                height: .8rem;
                margin-left: .1rem;
                margin-top: .1rem;
            }
            span {
                margin-left: .2rem;
                font-size: .3rem;
            }
        }
        li:last-child{
            border-bottom: none;
        }
    }
}


.letter{
    position: fixed;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .24rem;
    transform: translateY(-50%);
    span{
        font-weight: 500;
        color: #666;
        padding: .02rem .1rem;
        height: .4rem;
        box-sizing: border-box;
    }
}

