.pic {
  ul{
        overflow: hidden;
        background: #fff;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        li{
            position: relative;
            float: left;
            width: 2.46rem;
            height: 2.46rem;
            padding: 0;
            text-align: center;
            margin-right: .04rem;
            margin-bottom: .06rem;
            img {
                width: 100%;
                height: 100%;
            }
            div {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                background: rgba(56,90,130,.5);
                color: white;
                p {
                    margin-top: .8rem;
                }
            }
        }
  }

}